{% extends "base.html" %}
{% load static %}
{% load carts_tags %}
{% load multiply %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-1">
        <div class="col-lg-12">
            <div class="bg-white p-4 mb-4 rounded">
                <h3 class="text-center mb-6">Профиль пользователя</h3>
                <form action="{% url 'user:profile' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4 mb-3 text-center">
                            {% if user.image %}
                                <img src="{{ user.image.url }}"
                                     alt="Аватар пользователя" class="img-fluid rounded-circle"
                                     style="max-width: 155px;">
                            {% else %}
                                <img src="{% static 'deps/images/baseavatar.jpg' %}"
                                     alt="Аватар пользователя" class="img-fluid rounded-circle"
                                     style="max-width: 155px;">
                            {% endif %}
                            <input type="file" class="form-control mt-3" id="id_image" name="image" accept="image/*">
                            {% if form.image.errors %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{ form.image.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-3 mb-2">
                            <label for="id_first_name" class="form-label">Имя*</label>
                            <input type="text" class="form-control" id="id_first_name" name="first_name"
                                   placeholder="Введите ваше имя" value="{{ form.first_name.value }}" required>

                            <label for="id_last_name" class="form-label">Фамилия*</label>
                            <input type="text" class="form-control" id="id_last_name" name="last_name"
                                   placeholder="Введите вашу фамилию" value="{{ form.last_name.value }}" required>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="id_username" class="form-label">Имя пользователя*</label>
                            <input type="text" class="form-control" id="id_username" name="username"
                                   placeholder="Введите ваше имя пользователя" value="{{ form.username.value }}" required>

                            <label for="id_email" class="form-label">Email*</label>
                            <input type="email" class="form-control" id="id_email" name="email"
                                   placeholder="Введите ваш email" value="{{ form.email.value }}" required>
                        </div>

                        <div class="d-flex align-items-end justify-content-end col-md-3">
                            <button type="submit" onclick="return confirmProfileUpdate()" class="btn btn-dark w-100">Сохранить</button>
                            <script>
                            function confirmProfileUpdate() {
                                return confirm("Вы уверены, что хотите обновить данные профиля?");
                            }
                            </script>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Блок поиска по заказам -->
        <div class="col-12">
            <div class="bg-white p-4 mb-4 rounded">
                <h3 class="text-center mb-4">Поиск по заказам</h3>
                <form method="get" action="{% url 'user:profile' %}">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="order_search" placeholder="Поиск по номеру заказа или статусу"
                               value="{{ request.GET.order_search }}">
                        <button class="btn btn-outline-secondary" type="submit">Искать</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Блок профиля пользователя -->
        <div class="col-12">
            <div class="bg-white p-4 mb-4 rounded">
                <h3 class="text-center mb-4">Мои заказы</h3>
                <div class="container">
                    <div class="accordion" id="accordionExample">
                        {% for order in orders %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{ order.id }}">
                                <button class="accordion-button {% if order != orders.0 %}collapsed{% endif %}"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ order.id }}"
                                        aria-expanded="false" aria-controls="collapse{{ order.id }}">
                                    Заказ № {{ order.id }} - {{ order.created_timestamp }} | Статус: <strong class="mx-2">{{ order.status.status_name }}</strong>
                                </button>
                            </h2>
                            <div id="collapse{{ order.id }}"
                                 class="accordion-collapse collapse {% if order == orders.0 %}show{% endif %}"
                                 aria-labelledby="heading{{ order.id }}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p><strong>Информация о заказе №{{ order.id }}</strong> </p>
                                    <p><strong>Общая сумма: </strong>{{ order.total }} руб.</p>

                                    {% if order.requires_delivery %}
                                    <p><strong>Требуется выезд сотрудника:</strong> Да </p>
                                    {% else %}
                                    <p><strong>Требуется выезд: </strong>Нет </p>
                                    {% endif %}

                                    {% if order.delivery_address %}
                                    <p><strong>Адрес для выездного забора средства в сервис:</strong> {{ order.delivery_address }}</p>
                                    <p><strong>Дата и время выездного забора средства в сервис:</strong> {{ order.delivery_date }} в <strong>{{ order.delivery_time }} МСК</strong> </p>
                                    {% else %}
                                    <p><strong>Адрес для сдачи средства в сервис: </strong>г. Альметьевск, ул. Примерная 116</p>
                                    <p><strong>Дата и время для сдачи средства в сервис:</strong> {{ order.delivery_date }} в {{ order.delivery_time }} МСК </p>
                                    {% endif %}
                                    <p><strong>Комментарий: </strong>"{{ order.comment }}"</p>
                                    <p><strong>Состав заказа в таблице:</strong></p>
                                    <table class="table table-dark table-hover">
                                        <thead>
                                            <tr>
                                                <th>Услуга</th>
                                                <th>Количество</th>
                                                <th>Цена</th>
                                                <th>Общая стоимость</th>
                                                <th>Статус</th>
                                                <th>Дата и время выполнения</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in order.orderitem_set.all %}
                                            <tr>
                                                <td><a class="text-white" href="{% url 'goods:product' item.product.slug %}">{{ item.product.service_name }} | {{ item.product.category }}</a></td>
                                                <td>{{ item.quantity }}</td>
                                                <td>{{ item.price }}</td>
                                                <td>{{ item.quantity|multiply:item.price|floatformat:2 }} руб.</td>
                                                <td>{{ item.status.status_name }} </td>
                                                {% if item.work_ended_datetime %}
                                                <td>{{ item.work_ended_datetime }} </td>
                                                {% else %}
                                                <td> - </td>
                                                {% endif %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                     {% if order.status.id == 1 %}
                                     <form method="post" action="{% url 'users:cancel_order' order.id %}" onsubmit="return confirmCancelOrder();">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger ">Отменить заказ</button>
                                     </form>
                                     <script>
                                        function confirmCancelOrder() {
                                            return confirm("Вы уверены, что хотите отменить заказ?");
                                        }
                                     </script>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
